@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --oscuro: #2c6e49
    --claro: #4c956c
    --light: #fefee3
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #2c6e49;
}

/* Nav-Bar*/

header {
    width: 100%;
    position: fixed;
    z-index: 100000;
}


.nav-container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

nav {
    background-color: #2c6e49 ;
    margin: 0 auto;
    max-width: 1920px;
    border-bottom: 2px dashed #fefee3;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-page {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 5px;
    border: 2px solid #fefee3;
}

.nav-label div {
    color: #fefee3;
    font-size: 3em;
}

.nav-input:checked + .nav-menu {
    background-color: #fefee3;
}

.nav-label, .nav-input {
    display: none;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
    width: 50%;
}

.nav-item {
    color: #fefee3;
    text-decoration: none;
    font-size: 1.2em;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-item-login {
    border: 1px solid #fefee3;
    padding: 5px;
    transition: ease .5s;
    text-decoration: none;
    color: #fefee3;
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
}

.nav-item-login:hover {
    background-color: #fefee3;
    color: #2c6e49;
    transition: all .5s;
    text-decoration: none;
}


@media (max-width:1200px) {
    .nav-menu {
        gap: 4.5em;
    }
}

@media (max-width:1100px) {
    .nav-menu {
        gap: 3.5em;
    }
}

@media (max-width:1000px) {
    .nav-menu {
        gap: 2.5em;
    }
}

@media (max-width: 900px) {
    .nav-label {
        display: block;
        cursor: pointer;

    }

    .nav-item {
        color: #2c6e49;
        font-size: 2.5em;
    }

    .nav-menu {
        position: fixed;
        top: 100px;
        bottom: 0;
        background: #fefee3;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path .5s ease-in-out;
        z-index: 99999;
    }

    .nav-input:checked + .nav-menu {
        clip-path: circle(100% at center);
    }
}

/* Landing page - Home */

.landing-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.landing-page {
    background-image: url(./assets/landing1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    max-width: 1920px;
    margin: 0 auto;
}

.landing-page-titles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25em;
}

.landing-page-titles h1 {
    margin-top: 1em;
    font-size: 5em;
    color: #2c6e49;
    text-align: center;
    font-weight: bold;
}

.landing-page-titles h3{
    color: #2c6e49;
    font-size: 2.3em;
    text-align: center;
}

.landing-page-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
    gap: 1.5em;
}

.landing-page-desc p {
    width: 55%;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    color: #4c956c;
    padding: 0.5em;
}

.landing-page-desc button {
    padding: 0.5em;
    font-size: 1.5em;
    background-color: #2c6e49;
    border: 2px solid #fefee3;
    border-radius: 10px;
    color: #fefee3;
    cursor: pointer;
    transition: ease .5s;
    font-weight: 600;
}

.landing-page-desc button:hover {
    background-color: #4c956c;
    transition: background-color 1s;

}

@media (max-width:768px) {

    .landing-page-titles, .landing-page-desc {
        font-size: 0.75em;
    }

    .landing-page-desc p{
        display: none;
    }

}

/* Gallery */

.gallery {
    background-color: #4c956c;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding: 2em;
    border-top: 2px dashed #fefee3;
}

.gallery h2 {
    font-size: 3.5em;
    color: #fefee3;
    text-align: center;
    border-bottom: 3px solid #fefee3;
    border-top: 3px solid #fefee3;
    padding: 1em;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    padding: 1.2em;
    grid-gap: 1.2em;
}

.gallery-item {
    position: relative;
    border: 1px solid #fefee3;
    cursor: pointer;
}

.item-capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: #fefee3;
    text-align: center;
    background: rgba(76,149,108,0.6);
    opacity: 0;
    visibility: hidden;
    padding: 1em;
    transition: ease .5s;
    font-size: 1.5em;
}

.gallery-item:hover > .item-capa {
    transition: ease 1s;
    opacity: 1;
    visibility: visible;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms ease-out;
}

.gallery-item {
    grid-column-start: span 2;
}

.gallery-item:nth-child(9) {
    grid-column-start: span 4;
    grid-row-start: span 2;
}



@media (min-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .gallery-item {
        grid-column-start: span 2;
    }

    .gallery-item:nth-child(4) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(2) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(8) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(9) {
        grid-column-start: span 2;
    }

    .gallery-item:nth-child(5) {
        grid-row-start: span 2;
    }

    .gallery-title {
        font-size: 1.25em;
    }

}

@media (max-width: 768px) {
    .item-capa {
        font-size: 1.15em;
    }

    .gallery-container {
        padding: 0.5em;
        grid-gap: 0.75em;
    }
}

@media (max-width: 568px) {
    .item-capa {
        font-size: 0.9em;
    }

    .item-capa p {
        display: none;
    }


}

@media (min-width: 1024px) {
    .gallery-item:nth-child(1) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(3) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(5) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(6) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(7) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(9) {
        grid-row-start: span 2;
    }

    .gallery-item:nth-child(8) {
        grid-row-start: span 3;
    }

    .gallery-title {
        font-size: 1.5em;
    }

}

@media (min-width: 1440px) {
    .gallery-container {
        grid-template-columns: repeat(6, 1fr);
    }

    .gallery-item:nth-child(8) {
        grid-row-start: span 2;
    }

    .gallery-item {
        grid-row-start: span 2;
    }

    .gallery-title {
        font-size: 1.75em;
    }
}

@media (min-width: 1600px) {
    .gallery-item:nth-child(4) {
        grid-row-start: span 4;
    }

    .gallery-item:nth-child(8) {
        grid-row-start: span 3;
    }


    .gallery-item:nth-child(5) {
        grid-row-start: span 3;
    }

    .gallery-item:nth-child(2) {
        grid-row-start: span 3;
    }

    .gallery-item:nth-child(7) {
        grid-row-start: span 3;
    }

}

/* Contact */

.contact {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #4c956c;
    border-bottom: 3px dashed #fefee3;
}

.contact h2 {
    background-color: #fefee3;
    font-size: 3.5em;
    color: #4c956c;
    padding: 1em;
    text-align: center;
}

.contact-info {
    color: #fefee3;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    font-size: 1.3em;
    gap: 1em;
}

.info-img {
    font-size: 2.5em;
}

.info h4 {
    font-size: 1.5em;
}

.info p {
    font-weight: 300;
    text-align: center;
}

.info span {
    font-weight: 600;
    text-align: center;
}

@media (max-width: 700px) {

    .contact-info {
        flex-direction: column;
    }

    .info {
        width: 100%;
    }

}

/* Footer */

.footer {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #2c6e49;
    padding: 1em;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
}

.footer-img {
    width: 25%;
    cursor: pointer;
}

.footer-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fefee3;
}

.social-media-container {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    color: #fefee3;
}

.social-media-container h3 {
    font-size: 2em;
    text-align: center;
}

.social-media {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5em;
    gap: .75em;
}

.social-media a {
    text-decoration: none;
    color: #fefee3;
}

.footer-copy {
    padding-top: 1.75em;
    text-align: center;
    color: #fefee3;
    font-size: 1.1em;
}

@media (max-width: 410px) {

    .footer-img img {
        width: 120px;
        height: 120px;
    }

    .social-media {
        gap: .5em;
        font-size: 2em;
    }

}



